.oxfam-fixed {
    margin-left: auto;
    margin-right: auto;
    width: 50%
}
.oxfam-dynamic {
    display: none;
}

.oxfam-left-column {
    float: left;
    width: 50%;
}

.oxfam-right-column {
    float: right;
    width: 50%;
}

.oxfam-spacer {
    float: left;
    width: 25%;
}

.oxfam-confirm-container {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}